.message{ "data-message-id": "#{message.id}"}
  %span.name=message.user.name
  %span.date=message.created_at
  %br
  - if message.message.present?
    %p=message.message
  - if message.image.present?
    =image_tag message.image.url ,class: "image"
    %br
