$background-blue: #253142 ;
$background-gray: #AAAAAA ;
$font-white: #fff;
$messages-font-color: #333333;
$color-blue: #38AEF0;

$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;
