.container
  .sidebar
    .sidebar__header
      .sidebar__header__name
        %h2 hanehane
      %ul.sidebar__header__lists
        %li.list.icon__cog
          %span= fa_icon "cog"
        %li.list
          %span= fa_icon "pencil-square-o"
    .sidebar__groups
      .sidebar__groups__comment
        %h4 ggg
        %p 招待ありがとうございます
      .sidebar__groups__comment
        %h4 aaa
        %p 招待ありがとうございます
      .sidebar__groups__comment
        %h4 ddd
        %p 招待ありがとうございます
