.form{
    height: 90px;
    background-color:#DDDDDD;
    position:absolute;
    bottom: 0;
    right:0;
    left:300px;
    &__input{
      padding:20px 40px;
      &__message{
        height:50px;
        width:calc(100% - 200px);
        background-color:white;
        float:left;
        border: none;
        padding:0 10px;
      }
      &__icon__space{
        border: none;
        padding-left:10px;
        height:50px;
        width:40px;
        margin:0 auto;
        float:left;
        background-color:white;
      }
      .icon__label{
        line-height: 50px;
      }
      .icon__hidden{
        display:none;
      }
      &__button{
        color:white;
        width: 100px;
        margin-left:15px;
        height:50px;
        float:left;
        background-color:#38AEF0;
      }
    }
  }
